.wrapper {
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    background-color: white;
    
}

.bgclr {
    background-color: #f5f6fa;
    /* background-color: #f5f5f5; */
}

.errormsg {
    color: red;
    /* background-color: #FFD2D2; */
}

.successmsg {
    color: blue
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatarBig {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

hr {
    border-top: 1px solid black;
}

.redbg {
    background-color : red;
}

.whitebg {
    background-color : white;
}